# Copiez ce fichier en .env et remplissez les valeurs

# Base de données (CockroachDB / PostgreSQL)
DATABASE_URL=postgresql://user:pass@host:26257/livewatch?sslmode=verify-full

# Sécurité
SECRET_KEY=change-moi-en-production

# Admin
ADMIN_USERNAME=WALKER92259
ADMIN_PASSWORD=change-moi-en-production

# Port HTTP
PORT=8001
